* {
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    background-color: rgb(1, 15, 26);
    color: #fff;
}

header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: rgb(1, 15, 26);
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items:center ;
  z-index: 10;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;

}


nav .menu li{
  display:inline-block;
  margin-left: 40px;
}
nav .menu a {
  color: #fff;
  padding-bottom: 2px;
  
}
header img{
  width: 178px;
  height: 19px;
}
nav .menu a:hover{
  border-bottom: 1.5px solid #fff ;
}
nav .menu a:focus{
  border-bottom: 1.5px solid #fff ;
}

footer {
  background-color: rgb(1, 15, 26);
  color: #fff;
  padding: 20px;
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;

}
.underline_content{
  font-size: 100px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  margin:  auto;
}
.left-section, .right-section {
  display: flex;
  align-items: center;
}

.left-section a, .right-section a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
.left-section a {
  color: #fff;
  text-decoration: none;
  margin-right: 100px;
}
.right-section .logo {
  margin-right: 30px;
}

.right-section .logo:last-child {
  margin-right: 0;
}

.left-section1 {
  display: flex;
  align-items: left;
  display: column;
}

#email ,#name {
  outline: 0cm;
  height: 50px;
  width:600px;
  background-color: #F5F8FB99;
  color: black;
}

#message {
  outline: 0cm;
  height: 100px;
  min-width: 600px ;
  background-color: #F5F8FB99;
  color: black;
  position: relative;
}

.from {
  padding: 1%;
}

.name, .email {
  margin-bottom: 30px;
  
}
.message{
  margin-bottom: 10px;

}

.img1 img{
  width: 200px;
  height: 200px;
}
body{
  margin-top: 10%;
}

.end.img2 img{
  width: 255.91px;
  height: 427.13px;
}

.undnerline {
  font-size: 90;
  display: flex;

}

.submit {
  background-color: #FAD001;
  width: 138px;
  height: 50px;
  position: absolute;
}
  .submit input[type="submit"] {
    background-color: #ffd700; /* Yellow background color */
    color: black; /* Text color */
    border: none; /* No border */
    padding: 15px 30px; /* Padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    display: inline-block; /* Inline block for positioning */
    text-align: center; /* Center text */
}
 

.end, .img1 ,.underline {
  margin-left: 10%;
  margin-right: 10%;
}

.underline{
  margin-top: 10%;
  margin-bottom: 5%;
}

@media screen and (max-width: 920px){
    html{
      width: 126%;
    }
    .underline{
      text-align: center;
    }
    .underline_content{
      text-align: left;
      font-size: 52px;
    }
    body{
      width: 100%;
    }
    .body_section{
      position: relative;
      height: 900px;
    }
   
    .body_section-img1 {
      width: 100%;
      position: absolute;
      top: 80%;
      text-align: center;
  }
  .img2 {
    position: absolute;
    top: 98%;
    width: 75%;
    text-align: center;
}
    .img2 img {
      width: 328px;
      height: 494px;
  }
    .img1 img {
      width: 161px;
      height: 157px;
  }
  .footer{
    position: absolute;
    top:150%;
  }
  .footer-content{
    display: block;
  }
  .left-section, .right-section{
    display: block;
  }
  .b{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
  }
  .left-section_line2{
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .right-section{
    text-align: center;
    width: 100%;
    margin-top:16px;
  }
}